@import "_variables.scss";

body {
    font: 100% "Space Mono", monospace;
    color: $primary-color;
    margin: 0;
    padding: $general-padding;
    background-color: $general-background;
    overflow-x: hidden;
}

    main {
        padding: 0 1em;
    }
    article {
        display: flex;
        flex-wrap: wrap;

                @mixin shadowmix ($smix) {
                    -webkit-box-shadow: 10px 10px 15px -4px $smix;
                    -moz-box-shadow: 10px 10px 15px -4px $smix;
                    box-shadow: 10px 10px 15px -4px $smix;   
                }

                section {
                flex-grow: 1;
                flex-basis: 45%;
                border: 1px $secondary-color solid;
                @include shadowmix ($primary-color);
                padding: $general-padding;
                margin: 16px;
                clear: both;
                overflow: auto;
                box-sizing: border-box;
        
                    #selling-points {
                    flex-grow: 2;
                    flex-basis: 100%;
                    }
                }
        
                code {
                    background: $article-background;
                    border: 1px solid $primary-color;
                    color: $secondary-color;
                    page-break-inside: avoid;
                    font-family: monospace;
                    font-size: 15px;
                    line-height: 1.6;
                    margin-bottom: 1.6em;
                    max-width: 100%;
                    overflow: auto;
                    padding: $general-padding;
                    display: block;
                    word-wrap: break-word;
                }

                
        }

/*Titles*/

%h {
    color: $title-color;
}

h1 {
    @extend %h;
    text-align: center;
}

h2 {
    @extend %h;
}

h3 {
    @extend %h;
    text-align: center;
    font-size: 1.5em;
    padding: $general-padding;
    margin-bottom: 0px;
}

/*Messages*/

%sew {
    border: 1px solid $secondary-color;
    padding: 16px;
    color: $general-background;
}

.messages {
    padding: 16px;

    .success {
        @extend %sew;
        background-color: $success-color;
    }
    
    .error {
        @extend %sew;
        background-color: $error-color;
            &:hover {
                background-color: $success-color
            }
    }
    
    .warning {
        @extend %sew;
        background-color: $warning-color;
        }
}

/*Code*/

.before {
    float: left;
    width: 40%;
}

.after {
    float: right;
    width: 40%;
}

/*footer padding twice*/

footer h3{
    padding: ($general-padding*2);
}


/*loop*/

.advantages {
    @for $i from 1 through 6 {
       /* background-color: rgba(0, 132, 255, (1/$i));*/
        li:nth-child(#{$i}) {
         background-color: lighten($title-color, $i*5%);
         color: lighten($color: $article-background, $amount: $i*10%) ;
        }
      }
    
}